body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

/* Styling for Header */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 125px;
    padding-right: 125px;
}

.header-logo {
    color: white;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 13px;
    display: flex;
    flex-shrink: 0;
}

/* Styling for footer */

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px;
    font-size: 13px;
}

/* Styling for splash page */

.splash-page {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 125px;
    gap: 40px;
    flex: 0 0 0;
}

.left-splash {
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    gap: 10px;
    padding: 125px 0px 125px 0px;
    margin: 50x 50px 50px 50px;
    width: 500px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
}

.second-text {
    font-size: 13px;
    color: #E5E7EB;
}

.splash-button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 3px 18px 3px 18px;
}

.img-box {
    display: flex;
    background-color: lightgray;
    border: 1px solid lightgray;
    width: 475px;
    height: 225px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/* Styling for testimonial-section */

.testimonial-section {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 150px 225px 150px 225px;
    gap: 15px;
}

p {
    font-size: 32px;
    color: #1F2937;
    font-style: italic;
    font-weight: 200;
    margin: 0;
}

h3 {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

/* Styling for action-section */

.action-container {
    border: 1px solid #3882F6;
    border-radius: 4px;
    background-color: #3882F6;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 100px 125px 100px 125px;
    padding: 40px 100px 40px 100px;
}

.action-text-small {
    font-size: 13px;
    color: #E5E7EB;
}

.sign-up {
    color: white;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 4px;
    padding: 3px 18px 3px 18px;
}